body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url("hintergrund.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  #background: #f2efe4;
}

h1 {
  margin: 40px;
  color: #000000;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* immer 4 Spalten */
  gap: 15px;
  justify-content: center;
  margin-top: 40px;
}

.door {
  background: rgba(178, 34, 34, 0.9);
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  padding: 40px;
  font-size: 2em;
  transition: transform 0.2s;
  text-align: center;
}

.door:hover {
  transform: scale(1.1);
}

.door.opened {
  background: rgba(34, 139, 34, 0.9);
}

.opened {
  background: #228b22;
}














